.header     { background-color: #2C6AA0; }
.logo   { padding: 15px 0; }
.description    { color: #fff; }


.navbar-inner {
    background:#141A1B;
    border:0;
    padding-left:0;
    padding-right:0;
    z-index:10000 !Important;
}
.navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
    color:#fff;
    padding:16px 20px 16px;
    border-right:1px solid #3F4E54;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
/*.navbar .divider-vertical {
    height:54px;
    border-left:1px solid #3F4E54;
    border-right:1px solid #3F4E54;
    margin:0;
}*/
.navbar .nav>li {
    line-height:34px;
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover,.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
    color:#fff;
    text-decoration:none;
    background-color:#61AE24;
}
.navbar .nav {
    margin:0;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:#61AE24;
    color:#fff;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top:13px;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret,.navbar .nav li.dropdown>a:hover .caret,.navbar .nav li.dropdown>a:focus .caret:hover,.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color:#fff;
    border-bottom-color:#fff;
}
.dropdown-menu {
    border:0px;
    background-color:#141A1B;
    width: 100%;
}
.navbar .nav>li>.dropdown-menu:before {
    border-bottom:7px solid transparent;
}
.navbar .nav>li>.dropdown-menu:after {
    border-bottom:6px solid transparent;
}
.dropdown-menu>li>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    color:#fff;
    border-top:1px solid #3F4E54;
    border-bottom:1px solid #3F4E54;
    padding:10px 20px;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    background-color:#61AE24;
}
.dropdown-menu {
    padding:0px;
    margin-left:-2px;
    margin-top:0px;
}

.submenu .breadcrumb { background-color:#141A1B; }
.submenu .breadcrumb a { color: #fff; }

.featured, .banner   {
    background-color: #2C6AA0;
    color: #fff;
    padding: 30px 0;  
}

.content {
    background-color: #FFFFFF;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 30px;
    position: relative;
    z-index: 0;
    margin-top: -40px;
    border-radius: 4px;
    overflow: hidden;
}

.footer {
    color: #FFFFFF;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 90px;
}
.footer {     
    background: none repeat scroll 0 0 #141A1B;
    color: #CCCCCC;
    line-height: 1.6;
    margin-top: -60px; 
}

.user-forms     {
    background-color: #eee;
    padding: 30px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

fieldset    {
    padding: 30px;
    border: 1px solid #ccc;
}

.table  { font-size: 14px; }

.personal-details   {
    text-align: center;
    border-right: 1px solid #ccc;
    padding-right: 30px;
    margin-right: 30px;
}

.personal-details img   {
    max-width: 100%;
}
.p-setting .nav  {
    background-color: #fff;
}

.p-setting .nav  a:hover{
    background-color: #fff;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

.page-header h1 {
    font-family: open_sansbold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.footerdark h1, .stressborder {
    border-bottom: 1px solid #33BEE5;
}
.stressborder {
    display: inline;
    padding-bottom: 15px;
}

.top10 {
    margin-top: 10px;
}

.round-image {
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 2px #CCCCCC;
}
.round-image.small {
    border: 10px solid #FFFFFF;
    height: 70px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 10px;
    width: 70px;
}


/* Box Shadow Effects /* ============================================================== */
.box {
    background:#f7f7f7;
    padding: 22px;
}
/*================================================== * Effect 1 * ===============================================*/
.effect1 {
    -webkit-box-shadow:0 10px 6px -6px #777;
     -moz-box-shadow:0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}
/*================================================== * Effect 3 * ===============================================*/
.effect3 {
    position:relative;
}
.effect3:before {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    left:10px;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 15px 10px #777;
    -moz-box-shadow:0 15px 10px #777;
    box-shadow:0 15px 10px #777;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    transform: rotate(-3deg);
}
.box {
        margin:0px auto;
        margin-bottom:30px;
}

.titleborder div {
    display:inline-block;
    background-color:#fff;
    padding:1px 12px;
    position:relative;
}
.titleborder div {
    color:#303030;
    font-size:18px;
    top:14px;
    padding-left:0 !important;
    font-family:open_sansbold;
    text-transform:uppercase;
}
.titleborder {
    position:relative;
    border-bottom:1px solid #eee;
    margin:0 0 30px 0;
}
.titleborder.center {
    text-align:center;
}
.titleborder.center div {
    padding-left:10px !Important;
}
.thumbnail {
    border:1px solid #f3f3f3;
    font-size:13px;
    background:#fff;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    padding:0px;
    border-bottom:medium double #ddd;
    text-align:center;
    line-height:25px;
}
.thumbnail h4 {
        font-size:18px;
    margin-top:20px;
}
.thumbnail .caption {
    padding:10px 20px 15px;
    background:#f7f7f7;
}
.thumbnail img {
    -webkit-transition:all 1s ease;
            -moz-transition:all 1s ease;
            -o-transition:all 1s ease;
            -ms-transition:all 1s ease;
            transition:all 1s ease;
}
.thumbnail img:hover {
}

/*================================================== * Info Boxes* ===============================================*/
.info-box {
background:#EEEEEE !important;
border:1px solid #e4e4e4;
padding:6px;
margin-bottom:15px;
}
.info-box-inner {
background-image:linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-o-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-moz-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-webkit-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-ms-linear-gradient(bottom,#fafafa 0%,#fff 100%);
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border:1px solid #e4e4e4;
padding:25px;
background:#fff;
}
.info-box p {
margin:0;
}
.info-box h4 {
font-size:20px;
line-height:26px;
margin:0;
}
.info-box a {
margin:0;
}
.info-content {
float: left;
}
/*info-box-2*/
.info-box-2 {
margin:0 0 10px 0;
}
.info-box-inner-2 {
background-image:linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-o-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-moz-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-webkit-linear-gradient(bottom,#fafafa 0%,#fff 100%);
background-image:-ms-linear-gradient(bottom,#fafafa 0%,#fff 100%);
-webkit-border-radius:0 0 3px 3px;
-moz-border-radius:0 0 3px 3px;
border-radius:0 0 3px 3px;
border-top:0 none;
border-right:1px solid #e4e4e4;
border-left:1px solid #e4e4e4;
border-bottom:1px solid #e4e4e4;
padding:17px;
}
.info-box-2 p {
margin:0;
}
.info-box-2 h4 {
color:#2778C8;
font-size:24px;
line-height:26px;
margin:0;
}
.info-box-2 a {
margin:6px 0 0;
}
.info-content-2 {
float: left;
}

/*================================================== * Panels* ===============================================*/
.panel h1,.panel1 h1 {
font-size:18px;
font-family:RalewayRegular;
margin-top:0;
line-height:24px;
}
.panel ul,.panel1 ul {
margin-left:55px;
list-style:square;
}
.panel,.panel1 {
padding:20px;
background-color:#f7f7f7;
border-left:8px solid #2C6AA0;
position:relative;
margin-bottom:15px;
}
.panel1:after {
z-index:-1;
position:absolute;
content:"";
bottom:15px;
left:10px;
width:50%;
top:80%;
max-width:300px;
background:#777;
-webkit-box-shadow:0 15px 10px #777;
-moz-box-shadow:0 15px 10px #777;
box-shadow:0 15px 10px #777;
-webkit-transform:rotate(-3deg);
-moz-transform:rotate(-3deg);
-o-transform:rotate(-3deg);
-ms-transform:rotate(-3deg);
transform:rotate(-3deg);
}
.panel1:after {
-webkit-transform:rotate(3deg);
-moz-transform:rotate(3deg);
-o-transform:rotate(3deg);
-ms-transform:rotate(3deg);
transform:rotate(3deg);
right:10px;
left:auto;
clear:both;
float: none;
}

/* Accordion/* ============================================================== */
.accordion,.toggle {
}
.accordion h3,.toggle h3 {
    padding:10px 11px;
    font-size:15px;
    margin:0 0 3px 0;
    line-height:18px;
    color:#606060;
    cursor:pointer;
    position:relative;
    text-transform:none;
    background:#fcfcfa;
    transition:all 300ms ease 0s;
    -webkit-transition:all 300ms ease 0s;
    border-bottom:1px solid #f1f1f1;
    
}
.accordion h3 span,.toggle h3 span {
    line-height:18px;
    display:block;
    padding:0 0 0 17px;
    background:url(../img/acplus.png) no-repeat left top;
}
.accordion h3.active,.toggle h3.active,.accordion h3:hover,.toggle h3:hover {
    background:#555 !Important;
    color:#fff;
}
.accordion h3.active span,.toggle h3.active span {
    background:url(../img/acplus.png) no-repeat left top;
}
.accordion h3:hover span,.toggle h3:hover span {
    background:url(../img/acminus.png) no-repeat left top !important;
}
.accordion h3.active span {
    background:url(../img/acminus.png) no-repeat left top !important;
}
.accordion .accord_cont,.toggle .toggle_cont {
    padding:5px 0 2px 0;
    display: none;
}

.carousel_nav {
    position:relative;
    margin-top:-43px;
    background:#fff;
    padding-left:5px;
    float:right;
    padding-right:4px;
}
a.prev,a.next {
    background:url(../img/carousel_arrows.png) no-repeat #2C6AA0;
    width:24px;
    height:24px;
    display:block;
    position:relative;
    float:left;
    margin-left:3px;
    -webkit-background-clip:padding-box;
    /* for Safari */background-clip:padding-box;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
a.prev:hover,a.next:hover {
    background-color:#444;
}
a.prev {
    background-position:-2px 0
}
a.prev.disabled {
    background-color:#555
}
a.next {
    background-position:-22px 0
}
a.next.disabled {
    background-color:#555
}
a.prev.disabled,a.next.disabled {
    cursor:default
}
a.prev span,a.next span {
    display:none
}