<script type="text/x-handlebars-template"  id="templates">
	<table class="table table-bordered pupinfo">
    	<thead>
		    <tr>
		      <th>Full name</th>
		      <th>birthday</th>
		      <th>nationality</th>
		      <th>Course</th>
		      <th>gender</th>
		      <th>last updated</th>
		      <th>quick peek</th>
		    </tr>
    	</thead>
    	<tfoot>
     		<tr>
    			<td colspan="7">Statistics: Male Students: , Female Students : </td>
    		</tr>
    	</tfoot>
    	<tbody>
	        <tr data-rnum="" class="onmodal" role="button" data-toggle="modal" data-mtype="student">
				<td class="nm maked"></td>
    			<td>{{Pers_DOB}}</td>
    			<td>{{Pers_Nationality}} </td>
    			<td>
    				N/A
    			</td>
    			<td>{{Pers_Gender}}</td>
    			<td>{{Pers_UpdateDate}}</td>
    			<td><a href="#"></a></td>
	    	</tr>
    	</tbody>
    </table>			  	
</script>